table.sin-lineas-border {
	 td, th{
	 	border: none;
	 }

	 th.linea-left{
	 	border-left: 1px solid #DDD;
	 }
}

.columna-seleccion{
	width: 93px;	
}

.separador{
	margin-bottom: 20px;
}

.total-columna-label{
	text-align: right !important;
	font-weight: bold;
}

.total-columna-number{
	text-align: right !important;
}